<!-- <hello name="{{ name }}"></hello> -->

<html>
  <h1>BOARD GAME</h1>

<small>Input baris dan kolom dengan menggunakan separator ',' (ex: 1,1 baris ke-1 dan kolom ke-1)
  <br> Input baris dan kolom tidak boleh lebih dari 5 dan kurang dari 1
</small>
<p>User {{ player }} :</p>

<input type="text" [(ngModel)]="inp">
<button (click)="submit()">GO!</button>

<br><br>

<label *ngFor="let b of board;">
    <label *ngFor="let k of b; let i = index">
      {{ k }}
    </label>
    <br>
  </label>

<ng-template *ngIf="winner != null; then templatetrue;"> </ng-template>

<ng-template #templatetrue>
  <h4>{{ winner }}</h4>
</ng-template>
</html>




